
<nav>
    <ul>
        <li><img width='30' height='30' src='./assets/obi-wan.png' title='obi-wan' routerLink='/home-page'></li>
        <li *ngFor='let mi of menuItems' title='{{mi.tooltip}}'>
            <a routerLink='{{mi.href}}'>{{mi.display}}</a> 
        </li>
            <span routerLink='/home-page' style="text-align: center; color: gold;">   Galactic Trade Network   <img width="30" height="30" src="./assets/empire.png" routerLink='/home-page'></span>
           <span style="float: right; padding-right: 30px; font-style:italic; font-weight: bold">Hello, {{loggedInUser.firstName}} <img width='30' height='30' src='./assets/stormtrooper.png' title='Trooper' routerLink='/home-page'></span>

    </ul>
</nav>
